.icon-bar {
  position: fixed;
  top: 18%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.github {
  background: transparent;
  color: black;
}

.medium {
  background: transparent;
  color: black;
}

.dev {
  background: transparent;
  color: white;
}

.linkedin {
  background: transparent;
  color: white;
}

.youtube {
  background: transparent;
  color: white;
}

.blog {
  background: transparent;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

/* about me social media bar  */

.about-icon-bar {
  position: fixed;
  top: 18%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about-icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.about-icon-bar a:hover {
  background-color: #000;
}

.about-github {
  background: transparent;
  color: black;
}

.about-medium {
  background: transparent;
  color: black;
}

.about-dev {
  background: transparent;
  color: white;
}

.about-linkedin {
  background: transparent;
  color: white;
}

.about-youtube {
  background: transparent;
  color: white;
}

.about-content {
  margin-left: 75px;
  font-size: 30px;
}
